<?xml version="1.0"?>

<launch>
    <!-- declare arg to be passed in -->
    <arg name="team_side" default="home" />
    <arg name="sim_mode" default="true" />

    <!-- Outputs to either real world or simulation -->
    <arg name="vel_cmd_ally1" default="vel_cmds" />
    <arg name="vel_cmd_ally2" default="vel_cmds" />
    <arg name="kick_ally1" default="kick" />
    <arg name="kick_ally2" default="kick" />

    <include file="$(find aimbot)/launch/central.launch">
        <arg name="team_side" value="$(arg team_side)" />
    </include>

    <include file="$(find aimbot)/launch/robot.launch">
        <arg name="team_side" value="$(arg team_side)" />
        <arg name="num" value="1" />
    </include>

    <include file="$(find aimbot)/launch/robot.launch">
        <arg name="team_side" value="$(arg team_side)" />
        <arg name="num" value="2" />
    </include>

</launch>