<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="team_side" default="home" />
    <arg name="my_number" default="1" />
    <arg name="ally_number" default="2" />
    <arg name="sim_mode" default="true" />
    <arg name="vision_prefix" default = "/vision" />

    <!-- using which side of the field we are on, determine the appropriate -->
    <!-- connections to the output of the vision system -->
    <arg name="other_side" value="away" if="$(eval team_side == 'home')" />
    <arg name="other_side" value="home" if="$(eval team_side == 'away')" />

    <!-- Hardware agnostic code -->


    <group if="$(eval sim_mode == 1)">

       <node name="myvision" pkg="aimbot" type="vision_node.py" output="screen">

            <remap from="ally1" to="$(arg vision_prefix)/$(arg team_side)1" />
            <remap from="ally2" to="$(arg vision_prefix)/$(arg team_side)2" />
            <remap from="opp1" to="$(arg vision_prefix)/$(arg other_side)1" />
            <remap from="opp2" to="$(arg vision_prefix)/$(arg other_side)2" />
            <remap from="ball" to="$(arg vision_prefix)/ball" />


            <remap from="ally1pub" to="/myvision/$(arg team_side)1" />
            <remap from="ally2pub" to="/myvision/$(arg team_side)2" />
            <remap from="opp1pub" to="/myvision/$(arg other_side)1" />
            <remap from="opp2pub" to="/myvision/$(arg other_side)2" />
            <remap from="ballpub" to="/myvision/ball" />
       </node>

       <node name="ai" pkg="aimbot" type="ai_node.py" output="screen">
           <remap from="me" to="/myvision/$(arg team_side)$(arg my_number)" />
           <remap from="ally" to="/myvision/$(arg team_side)$(arg ally_number)" />
           <remap from="opp1" to="/myvision/$(arg other_side)1" />
           <remap from="opp2" to="/myvision/$(arg other_side)2" />
           <remap from="ball" to="/myvision/ball" />
       </node>

       <node name="controller" pkg="aimbot" type="controller_node.py" output="screen">
           <!-- The controller needs to know which vision msg to listen to -->
           <remap from="me" to="/myvision/$(arg team_side)$(arg my_number)" />
           <!-- For simulation, remap the output -->
           <remap from="vel_cmds" to="/$(arg team_side)$(arg my_number)/command" />
       </node>

    </group>

    <group if="$(eval sim_mode == 0)">
       <node name="ai" pkg="aimbot" type="ai_node.py" output="screen">
           <remap from="me" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/$(arg team_side)$(arg my_number)" />
           <remap from="ally" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/$(arg team_side)$(arg ally_number)" />
           <remap from="opp1" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/$(arg other_side)1" />
           <remap from="opp2" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/$(arg other_side)2" />
           <remap from="ball" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/ball" />
       </node>

       <node name="controller" pkg="aimbot" type="controller_node.py" output="screen">
           <!-- The controller needs to know which vision msg to listen to -->
           <remap from="me" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/$(arg team_side)$(arg my_number)" />
           <!-- For simulation, remap the output -->
           <remap from="vel_cmds" to="command" />
       </node>

               <node name="motor" pkg="aimbot" type="motor_node.py" output="screen">
           <!-- The controller needs to know which vision msg to listen to -->
           <remap from="me" to="/aimbot_$(arg team_side)/aimbot_central/vision_pub/$(arg team_side)$(arg my_number)" />
           <!-- For simulation, remap the output -->
           <remap from="vel_cmds" to="command" />
       </node>



    </group>








</launch>