<?xml version="1.0"?>
<launch>
    <arg name="team_side" default="home" />
    <arg name="num" default= "1" />

    <group ns="aimbot_$(arg team_side)">
        <group ns="players">
            <node name="ally$(arg num)" pkg="aimbot" type="robot_node.py" output="screen" args="$(arg num) $(arg team_side)"/>
        </group>
    </group>

</launch>