<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="home_team" default="demoteam" />
    <arg name="away_team" default="0" />

    <!-- Spawn home team -->
    <include file="$(eval find(home_team) + '/launch/' + home_team + '.launch')">
        <arg name="team_side" value="home" />
       
        <!-- remaps -->
        <arg name="vel_cmd_ally1" value="/home1/command" />
        <arg name="vel_cmd_ally2" value="/home2/command" />

        <arg name="kick_ally1" value="kick_home1" />
        <arg name="kick_ally2" value="kick_home2" />

    </include>

    <!-- Spawn away team -->
    <group if="$(eval away_team != 0)">
        <include file="$(eval find(away_team) + '/launch/' + away_team + '.launch')">
            <arg name="team_side" value="away" />

            <!-- remaps -->
            <arg name="vel_cmd_ally1" value="/away1/command" />
            <arg name="vel_cmd_ally2" value="/away2/command" />

            <arg name="kick_ally1" value="kick_away1" />
            <arg name="kick_ally2" value="kick_away2" />

        </include>
    </group>


    <!-- Start soccer Gazebo simulator -->
    <include file="$(find soccersim)/launch/soccer.launch">
        <!-- You can save some CPU (~30%) by turning off the Gazebo GUI -->
        <arg name="gazebo_gui" value="false" />

        <!-- Outputs to simulated hardware/world -->
        <arg name="kick_home1" value="/$(arg home_team)_home/ally1/kick" />
        <arg name="kick_home2" value="/$(arg home_team)_home/ally2/kick" />
        <arg name="kick_away1" value="/$(arg away_team)_away/ally1/kick" if="$(eval away_team != 0)" />
        <arg name="kick_away2" value="/$(arg away_team)_away/ally2/kick" if="$(eval away_team != 0)" />
    </include>
</launch>